/* header */

div.categories {
  position: absolute;
  top: 4em;
  left: 5px;
  max-width: 100%;
  display: grid;
  justify-content: left;
  border-radius: 3px;
  color: var(--c-text-inverted);
  background: var(--f-transparent-inverted);
  box-shadow: var(--s-short);
  transform: scale(0.2, 0);
  transform-origin: top left;
  transition: transform 0.2s;
  z-index: 1;
}

.categories.open {
  transform: scaleY(1);
}

div.categories > div {
  padding-left: 10px;
  padding-right: 10px;
  background: var(--f-transparent-inverted);
  border-radius: 3px;
}

div.categories > div > * {
  padding: 5px;
  cursor: pointer;
}

#searchBar {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
}

#searchBar > input {
  border: 1px solid var(--f-transparent-inverted);
}

button {
  padding: 0.2em 1em;
  margin: 5px;
  height: calc(100% - 10px);
}

/* main */

main > div {
  padding-top: 0;
  margin: 0 auto;
  width: 90%;
  background: transparent;
  box-shadow: none;
}

main > div > h1 {
  padding: 0.2em 0.5em;
  border-radius: 3px;
  background: var(--f-transparent-inverted);
  color: var(--c-text-inverted);
}

#game-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  color: var(--c-text-inverted);
}

game-box {
  display: grid;
  grid-template-rows: 1fr auto auto;
  border-radius: 3px;
  overflow: hidden;
  background: var(--f-transparent-inverted);
  cursor: pointer;
}

game-box:hover {
  transform: scale(1.02);
}

.game-instruction {
  display: grid;
  padding: 15px;
  text-align: center;
  place-items: center;
}

.game-category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 15px;
  padding: 0.2em 0.5em;
}

.game-creator {
  padding: 0.2em 0.5em;
  background: var(--f-transparent-inverted);
  white-space: nowrap;
  text-overflow: ellipsis;
}
