.game-list {
  display: grid;
  gap: 10px;
  width: 90%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  color: var(--c-text-inverted);
}

game-box {
  display: grid;
  grid-template-rows: 3fr;
  gap: 5px;
  padding: 5px;
  height: 200px;
  background: white;
  cursor: pointer;
}

game-box > .game-creator {
  background: var(--f-transparent);
  padding: 0 0.3em;
  text-align: center;
}

game-box > .game-instruction {
  word-break: break-all;
  overflow: hidden;
  background: var(--f-transparent);
  padding: 0 0.3em;
}

game-box > .game-category {
  background: var(--f-transparent);
  padding: 0 0.3em;
  text-align: center;
}

h1 {
  color: var(--c-text-inverted);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /* to match the button which has margin */
  margin: -5px 0px 0px 5px;
  width: calc(100% - 10px);
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
}

@media screen and (min-width: 600px) {
}
