.game-list {
  display: grid;
  max-width: 500px;
  width: 100%;
  gap: 10px;
  margin: 50px;
  color: var(--c-text-inverted);
}

game-box {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
  padding: 5px;
  background: linear-gradient(120deg, #fff1, #fff3);
  cursor: pointer;
}

game-box > .game-id {
  background: var(--f-transparent);
  grid-column: 1 / 3;
}

game-box > .game-creator {
  background: var(--f-transparent);
  grid-column: 3/5;
}

game-box > .game-instruction {
  background: var(--f-transparent);
  grid-column: 1/5;
}

game-box > .game-category {
  background: var(--f-transparent);
  text-align: center;
}

#return {
  position: absolute;
  top: 15px;
  left: 15px;
}

@media screen and (min-width: 600px) {
  .game-list {
    padding: 50px;
    background: var(--f-transparent-inverted);
    box-shadow: var(--s-short);
    border-radius: 3px;
  }
}
