main > div {
  display: grid;
  gap: 10px;
  max-width: 500px;
  width: 100%;
  color: var(--c-text-inverted);
}

main > div > h2:first-child {
  margin-top: 0;
}

h2 {
  padding: 0;
  margin: 1em 5px 0;
  text-align: center;
}

#instruction,
#description {
  padding: 15px;
  margin: 5px;
  text-align: center;
  font-size: larger;
  background: var(--f-transparent-inverted);
}

#categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 15px;
}

footer {
  background: var(--f-transparent-inverted);
  color: var(--c-text-inverted);
}

footer > h4 {
  padding: 0;
  margin: 15px;
}

#gameID::before {
  content: "ID:";
  padding: 5px;
  margin-right: 5px;
  background-color: var(--f-transparent-inverted);
}

#author::before {
  content: "By:";
  padding: 5px;
  margin-right: 5px;
  background: var(--f-transparent-inverted);
}

#author {
  cursor: pointer;
}
