#ppic {
  cursor: pointer;
}

.account {
  position: absolute;
  top: calc(4em + 10px);
  left: 5px;
  max-width: 100%;
  display: grid;
  justify-content: left;
  border-radius: 3px;
  color: var(--c-text);
  background: var(--f-transparent-inverted);
  box-shadow: var(--s-short);
  transform: scale(0.35, 0);
  transform-origin: top left;
  transition: transform 0.2s;
}

.account.open {
  transform: scale(1);
}

.menu {
  display: grid;
  gap: 5px;
  max-width: 500px;
  width: 100%;
  color: var(--c-text-inverted);
}

.menu > h1 {
  text-align: center;
}

#logo {
  height: 150px;
  widows: 150px;
  margin: 0 auto 40px;
  border-radius: 3px;
  opacity: 0.9;
}
