.account {
  display: flex;
  gap: 15px;
  color: var(--c-text-inverted);
}

.menu {
  display: grid;
  gap: 15px;
  max-width: 500px;
  width: 100%;
  color: var(--c-text-inverted);
}

.menu > h1 {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .menu {
    padding: 50px;
    background: var(--f-transparent-inverted);
    box-shadow: var(--s-short);
    border-radius: 3px;
  }
}
