.account {
  display: flex;
  gap: 15px;
  color: var(--c-text);
}

.menu {
  display: grid;
  gap: 15px;
  max-width: 500px;
  width: 100%;
  color: var(--c-text-inverted);
}

.menu > h1 {
  text-align: center;
}
