main > div {
  display: grid;
  gap: 10px;
  max-width: 500px;
  width: 100%;
  color: var(--c-text-inverted);
}

main > div h1 {
  margin-top: 0;
}

h1,
h2 {
  padding: 0;
  margin: 1em 5px 0.5em;
  text-align: center;
}

div.pseudo {
  width: 100%;
  display: grid;
  gap: 10px;
}

#players-list {
  margin: 5px;
  display: grid;
  gap: 10px;
  grid-auto-rows: 1fr;
}

div.team {
  background: var(--f-transparent-inverted);
  box-shadow: var(--s-short);
  border-radius: 3px;
  overflow: hidden;
}

div.team > h2 {
  background: var(--f-transparent-inverted);
  margin: 0;
  cursor: pointer;
}

div.team > div {
  margin: 10px;
  display: grid;
  gap: 5px;
}

div.team > div > h4 {
  padding: 0;
  margin: 0;
}

div.team > div > h4 + h4 {
  border-top: 1px solid var(--f-transparent-inverted);
  padding-top: 5px;
}

@media screen and (min-width: 600px) {
  main > div {
    padding: 50px;
    background: var(--f-transparent-inverted);
    box-shadow: var(--s-short);
    border-radius: 3px;
  }

  #players-list {
    /* Tries to maximise the cols with 40% being the min width (auto-fit to let it grow) */
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}

/* game settings */

#settingsPage > div {
  display: grid;
  gap: 15px;
}

div.playlist {
  margin: 5px;
  display: grid;
  background: var(--f-transparent-inverted);
  box-shadow: var(--s-short);
  border-radius: 3px;
  overflow: hidden;
}

div.playlist > h2 {
  background: var(--f-transparent-inverted);
  margin: 0;
}

div.playlist > select {
  padding: 1em;
  margin: 5px;
  color: var(--c-text-inverted);
  background: var(--f-transparent-inverted);
  border: none;
  border-radius: 3px;
}

div.playlist > select > option {
  color: var(--c-text);
  background: var(--f-transparent-inverted);
  border-bottom: 1px solid red;
}

input[type="range"] {
  padding: 1em 0;
}

/* properties */

div.oneline {
  margin: 5px;
  display: grid;
  gap: 15px;
  grid-template-columns: auto 1fr;
}

div.oneline > * {
  margin: 0;
}

div.half {
  grid-template-columns: 1fr 1fr;
}

div.half > h2 {
  text-align: left;
}

.green {
  background: #00800077;
}

.hide {
  display: none !important;
}

h4.highlight::before {
  content: "> ";
}
