.title {
  display: grid;
  max-width: 500px;
  color: var(--c-text-inverted);
}

h1 {
  text-align: center;
}

.pseudo {
  margin: auto;
  width: fit-content;
}

main {
  display: grid;
  grid-auto-flow: column;
}

section {
  border: solid 1px gray;
  border-radius: 10px;
  margin: 10px;
  display: grid;
}

section h2 {
  background-color: var(--c-accent);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: 1.25em;
  max-height: 24px;
}

section ul {
  list-style: none;
  padding: 20px;
}

@media screen and (min-width: 600px) {
  .title {
    padding: 50px;
    background: var(--f-transparent-inverted);
    box-shadow: var(--s-short);
    border-radius: 3px;
  }
}

.green {
  background: #00800077;
}

.highlight {
  background: #fff1;
}
