main > div {
  display: grid;
  max-width: 500px;
  width: 100%;
  color: var(--c-text-inverted);
}

main > div > h1 {
  margin-top: 0;
}

h1,
h2 {
  padding: 0;
  margin: 1em 5px 0.5em;
}

#ppic {
  height: 8em;
  width: 8em;
  margin: 0;
}

#actions > button {
  padding: 0.2em 0.5em;
}

#changeButton {
  flex: none;
  padding: 5px;
  background: none;
  box-shadow: none;
}
