form {
  display: grid;
  max-width: 500px;
  width: 100%;
  color: var(--c-text-inverted);
}

form > h1 {
  margin-top: 0;
}

input[type="submit"] {
  margin-top: 30px;
}

h1,
h3,
div.oneline {
  padding: 0;
  margin: 1em 5px 0.5em;
}

h3.error {
  padding: 1em;
  margin: 0 0 15px 0;
  border-radius: 3px;
  background: #ffc4009f;
}

div.oneline {
  display: flex;
}

main > p {
  color: var(--c-text);
  opacity: 0.4;
}

main > p > a {
  color: inherit;
}
