:root {
  --c-accent: rgb(51, 135, 214);

  --c-text: #fff;
  --c-text-inverted: #213853;

  --s-short: 1px 1px 3px #0005;
  --s-normal: 3px 3px 7px #0005;
  --s-long: 5px 5px 7px #0005;

  --f-gradient: linear-gradient(120deg, #3e5a79, #203853, #5c326b);
  --f-gradient2: linear-gradient(120deg, #96deda 0%, #50c9c3 100%);

  --f-transparent: #283b4dcc;
  --f-transparent-inverted: #fffa;

  font-family: Poppins, Roboto, sans-serif;
  color: var(--c-text);
}

html {
  height: 100%;
  background: var(--f-gradient);
  background-attachment: fixed;
  background-size: 400% 400%;
  animation: animGradient 120s ease-in-out infinite alternate;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  min-height: calc(3.5em + 1vw);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main {
  width: 100%;
}

canvas {
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

/* Global elements */

#ppic {
  height: 100%;
  max-height: 4em;
  width: auto;
  margin: 5px;
  border-radius: 3px;
  overflow: hidden;
  background: var(--f-transparent-inverted);
  box-shadow: var(--s-short);
}

/* Components */

button,
input[type="submit"] {
  padding: 1em 2em;
  margin: 5px;
  border: none;
  border-radius: 3px;
  background: var(--f-transparent-inverted);
  color: var(--c-text-inverted);
  box-shadow: var(--s-short);
  font-size: 1.3em;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  box-shadow: var(--s-long);
}

button:active,
input[type="submit"]:active {
  box-shadow: var(--s-normal);
}

textarea,
input:not([type="submit"]) {
  padding: 1em;
  margin: 5px;
  background: var(--f-transparent);
  border: none;
  border-radius: 3px;
  color: var(--c-text);
  font-family: inherit;
  resize: vertical; /* for textarea */
}

button:focus,
input:not([type="submit"]):focus {
  outline: none;
}

input:not([type="submit"]):focus {
  box-shadow: inset 0 0 1px var(--c-text-inverted);
}

main > div,
main > form {
  background: var(--f-transparent-inverted);
  border-radius: 3px;
}

@media screen and (min-width: 600px) {
  main > div,
  main > form {
    padding: 50px;
    box-shadow: var(--s-short);
  }
}

/* Properties */

.center-content {
  display: grid;
  place-items: center;
}

.hide {
  display: none !important;
}

/* Animations */

@keyframes animGradient {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
