:root {
  --c-accent: rgb(51, 135, 214);

  --c-text: #333;
  --c-text-inverted: #fff;

  --s-short: 1px 1px 3px #0005;
  --s-normal: 3px 3px 7px #0005;
  --s-long: 5px 5px 7px #0005;

  --f-gradient: linear-gradient(120deg, #537895 0%, #09203f 100%);
  --f-gradient2: linear-gradient(120deg, #96deda 0%, #50c9c3 100%);

  --f-transparent: #0005;
  --f-transparent-inverted: #fff1;

  font-family: Poppins, Roboto, sans-serif;
  color: var(--c-text);
}

html {
  height: 100%;
  background: var(--f-gradient);
  background-attachment: fixed;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  height: calc(3.5em + 1vw);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main {
  width: 100%;
}

/* Components */

button,
input[type="submit"] {
  padding: 1em 2em;
  margin: 5px;
  border: none;
  border-radius: 3px;
  background: var(--f-transparent-inverted);
  color: var(--c-text-inverted);
  box-shadow: var(--s-short);
  font-size: 1.3em;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  box-shadow: var(--s-long);
}

button:active,
input[type="submit"]:active {
  box-shadow: var(--s-normal);
}

input:not([type="submit"]) {
  padding: 1em 1em;
  margin: 5px;
  background: var(--f-transparent);
  border: none;
  border-radius: 3px;
  color: var(--c-text-inverted);
}

button:focus,
input:not([type="submit"]):focus {
  outline: none;
}

input:not([type="submit"]):focus {
  box-shadow: inset 0 0 1px var(--c-text-inverted);
}

/* Properties */

.center-content {
  display: grid;
  place-items: center;
}
