.title {
  display: grid;
  max-width: 500px;
  width: 100%;
  color: var(--c-text-inverted);
}
h1 {
  text-align: center;
}

section {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
}

section.outline {
  border: solid #91919180 1px;
  padding: 10px;
}

section ul,
select {
  list-style: none;
  padding: 0;
  text-align: center;
}

button {
  padding-right: 18px;
  padding-left: 18px;
}

@media screen and (min-width: 600px) {
  .title {
    padding: 50px;
    background: var(--f-transparent-inverted);
    box-shadow: var(--s-short);
    border-radius: 3px;
  }
}
